
.dictionary-definitions-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 5px;
}

.dictionary-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dictionary-item {
    position: relative;
    font-family: var(--font-blockchains);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-shiney-black);
    font-size: 14pt;
    border-bottom: solid thin var(--color-shiney-black);
    margin-bottom: 50px;
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2);
    background-color: transparent;
    border-radius: 0 0 15px 15px;
    width: 100%;
}
    .dictionary-item:focus {
        background-color: white;
    }

.dictionary-item-lable-bar {
    position: absolute;
    top: 0px;
    left: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15px;
    border: 0;
    background-color: var(--color-teal);
    border-radius: 0 1000000px;
}
.dictionary-info-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    margin: 5px auto auto 0;
    border-top: solid thin var(--color-med-gray);
}
.dictionary-item-lable-tab {
    position: absolute;
    top: 0px;
    left: 0px;
    justify-self: center;
    height: 100%;
    width: 10px;
    background-color: var(--color-off-white);
    border-radius: 15px 0 0 15px;
}
.dictionary-info-lable {
    text-align: center;
    font-size: 8pt;
    font-weight: 900;
    font-family: var(--font-serif);
    width: 100%;
    padding: 5px;
}
.dictionary-info-text, .dictionary-info-text-word {
    text-align: center;
    font-size: 9pt;
    color: black;
    width: 100%;
    padding: 0px;
    margin: 8px;
}

.dictionary-info-text-word {
    font-size: 12pt;
    font-style: italic;
}

.dictionary-info-pos-line {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    border-bottom: solid thin var(--color-light-gray);
    border-left: solid thin var(--color-med-gray);
}

@media only screen and (min-width: 200px) {
    .dictionary-info-lable {
        font-size: 10pt;
    }
    .dictionary-info-text {
        font-size: 12pt;
    }
    .dictionary-info-text-word {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 300px) {
    .dictionary-info-lable {
        font-size: 12pt;
    }

    .dictionary-info-text {
        font-size: 14pt;
    }

    .dictionary-info-text-word {
        font-size: 16pt;
    }
}

@media only screen and (min-width: 400px) {
    .dictionary-info-lable {
        font-size: 14pt;
    }

    .dictionary-info-text {
        font-size: 16pt;
    }

    .dictionary-info-text-word {
        font-size: 18pt;
    }
}

@media only screen and (min-width: 500px) {
    .dictionary-info-lable {
        font-size: 16pt;
    }

    .dictionary-info-text {
        font-size: 18pt;
    }

    .dictionary-info-text-word {
        font-size: 20pt;
    }
}

@media only screen and (min-width: 600px) {
    .dictionary-info-lable {
        font-size: 18pt;
    }

    .dictionary-info-text {
        font-size: 20pt;
    }

    .dictionary-info-text-word {
        font-size: 22pt;
    }
}