
.typeahead-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 6px;
}

.typeahead-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.typeahead-header {
    text-align: center;
    text-shadow: -1px 0 1px #666, 1px 0 1px #666, 0 2px 1px #333;
    font-family: var(--font-blockchains);
    font-size: 9pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 35px;
}

.typeahead-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    max-width: 800px;
    border: solid 2px var(--color-teal);
    border-bottom: solid 15px var(--color-teal);
    border-radius: 9px;
    overflow: hidden;
}

.typeahead-input {
    height: 30px;
    width: 100%;
    font-family: var(--font-blockchains);
    font-size: 9pt;
    color: var(--color-black);
    text-align: center;
}

@media screen and (min-device-width: 150px) {
    .typeahead-header {
        font-size: 13pt;
    }
    .typeahead-input-container {
        width: 85%;
    }
}

@media screen and (min-device-width: 200px) {
    .typeahead-header {
        font-size: 18pt;
    }
    .typeahead-input-container {
        width: 80%;
    }
}

@media screen and (min-device-width: 300px) {
    .typeahead-header {
        font-size: 22pt;
    }
    .typeahead-input-container {
        width: 75%;
    }
}

@media screen and (min-device-width: 400px) {
    .typeahead-header {
        font-size: 26pt;
    }   
    .typeahead-input-container {
        width: 73%;
    }
}

@media screen and (min-device-width: 500px) {
    .typeahead-header {
        font-size: 32pt;
    }

    .typeahead-input-container {
        width: 70%;
    }
}

@media screen and (min-device-width: 600px) {
    .typeahead-header {
        font-size: 38pt;
    }
}

@media screen and (min-device-width: 700px) {
    .typeahead-header {
        font-size: 44pt;
    }
}

@media screen and (min-device-width: 800px) {
    .typeahead-header {
        font-size: 48pt;
    }
}


@media screen and (min-device-width: 900px) {
    .typeahead-header {
        font-size: 56pt;
    }
}

@media screen and (min-device-width: 1000px) {
    .typeahead-header {
        font-size: 60pt;
    }
}

@media screen and (min-device-width: 1100px) {
    .typeahead-header {
        font-size: 88pt;
    }
}

@media screen and (min-device-width: 1600px) {
    .typeahead-header {
        margin: 35px 200px 0 200px;
    }
}