
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35px;
    width: 95%;
    padding: 5px; 
    margin: 50px 0;
}

.button, .button-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    max-width: 400px;
    width: 100%;
    font-size: 9pt;
    color: white;
    margin: 0;
    padding: 0;
    border: groove thin black;
    border-radius: 3px;
    background-color: var(--color-shiney-black);
}
    .button:hover {
        cursor: pointer;
        border: groove thin var(--color-shiney-black);
        background-color: var(--color-dark-gray);
    }


.button-selected {
    background-color: var(--color-dark-gray);
}

@media only screen and (min-width: 150px) {

    .menu {
        width: 90%;
    }
    .button, .button-selected {
        margin: 0 5px;
    }
}

@media only screen and (min-width: 300px) {

    .menu {
        width: 85%;
    }
    .button, .button-selected {
        margin: 0 15px;
    }
}
