:root {
    --font-blockchains: Galaxie Polaris Condensed; /* for $200 */
    --font-menu: Galaxie Polaris Condensed Book;
    --font-serif: 100% Open Sans, sans-serif;
    --color-shiney-black: #3F3F3F;
    --color-teal: rgba(0, 133, 161, 1);
    --color-black: rgba(67, 67, 69, 1);
    --color-dark-gray: rgba(103, 104, 107, 1);
    --color-med-gray: rgba(140, 142, 144, 1);
    --color-light-gray: rgba(228, 229, 230, 1);
    --color-off-white: rgba(239, 239, 244, 1);
}

body {
    font-family: var(--font-serif);
    background: url(./media/images/logo-transparent.png) no-repeat, url(./media/images/bg_repeat.png);
    background-size: 100%;
    background-position: center;
    padding: 0;
    margin: 0;
}

input[ type=text ] {
    outline: none;
    border: solid thin var(--color-teal);
    box-shadow: 0 2px 0 0 var(--color-teal);
    border-radius: 9px;
    text-transform: none;
}
